{% extends 'problems/templates/base.html' %}
{% block title %}problem list{% endblock %}
{% block content %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_HOME }}/datetimepicker-master/jquery.datetimepicker.css"/ >
<script src="{{ STATIC_HOME }}/datetimepicker-master/jquery.js"></script>
<script src="{{ STATIC_HOME }}/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>


<script src="{{ STATIC_HOME }}/js/jquery.autocomplete.js"></script>


 
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
    <style>
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
    .ui-timepicker-div td { font-size: 90%; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; }
    .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
	
	.autocomplete{
		background:white;
		max-height:300px;
		overflow-x:hidden;
		overflow-y:scroll;
		padding:4px;
		font-size:18px;
		border:1px solid silver;
	}
	
	.autocomplete .selected{
		background:#e5e6e6;
	}
    </style>



<script>

    Date.prototype.addHours = function(h) {    
   this.setTime(this.getTime() + (h*60*60*1000)); 
   return this;   
}

var nextYear = (new Date().getFullYear() + 1).toString();  

$(document).ready(function() {


	$('#date_onset_input').datetimepicker({
		onSelectDate: function(date){            
			//document.getElementById("date_onset").value = date.addHours(0).toISOString();
			el('spDate1').innerHTML = '{% trans "Selected Date" %}: ' + document.getElementById("date_onset_input").value+ ' ' + document.getElementById("time_onset_input").value;
			el('date_onset').value = document.getElementById("date_onset_input").value + 'T' + document.getElementById("time_onset_input").value + ':00.000Z';
			this.hide();
		},

		format:'Y-m-d',
		//startDate: this.time,
		minDate:'1990/01/01',
		maxDate: nextYear + '/12/31',
		timepicker:false,
	});
	
	$('#time_onset_input').datetimepicker({     
		onSelectTime: function(time){
			el('spDate1').innerHTML = '{% trans "Selected Date" %}: ' + document.getElementById("date_onset_input").value+ ' ' + document.getElementById("time_onset_input").value;
			//2017-03-01T13:22:32.663Z
			el('date_onset').value = document.getElementById("date_onset_input").value + 'T' + document.getElementById("time_onset_input").value + ':00.000Z';
			this.hide();
		},
		step:5,
		datepicker:false,
		format:'H:i'
    });
	
	$('#date_resolution_input').datetimepicker({
		onSelectDate: function(date){            
			//document.getElementById("date_onset").value = date.addHours(0).toISOString();
			el('spDate2').innerHTML = '{% trans "Selected Date" %}: ' + document.getElementById("date_resolution_input").value+ ' ' + document.getElementById("time_resolution_input").value;
			el('date_resolution').value = document.getElementById("date_resolution_input").value + 'T' + document.getElementById("time_resolution_input").value + ':00.000Z';
			this.hide();
		},

		format:'Y-m-d',
		//startDate: this.time,
		minDate:'1990/01/01',
		maxDate: nextYear + '/12/31',
		timepicker:false,
	});
	
	$('#time_resolution_input').datetimepicker({     
		onSelectTime: function(time){
			el('spDate2').innerHTML = '{% trans "Selected Date" %}: ' + document.getElementById("date_resolution_input").value+ ' ' + document.getElementById("time_resolution_input").value;
			//2017-03-01T13:22:32.663Z
			el('date_resolution').value = document.getElementById("date_resolution_input").value + 'T' + document.getElementById("time_resolution_input").value + ':00.000Z';
			this.hide();
		},
		step:5,
		datepicker:false,
		format:'H:i'
    });

/*
     var startdate1 = ('{{problem.startDate}}').split("T");
     startDate = startdate1[0].split("-");
     startdate = startDate[2]+"-"+startDate[1]+"-"+startDate[0];
     startdate1 = (startdate+" "+startdate1[1]).slice(0,19);


     var enddate1 = ('{{problem.endDate}}').split("T");
     endDate = enddate1[0].split("-");
     enddate = endDate[2]+"-"+endDate[1]+"-"+endDate[0];
     enddate1 = (enddate+" "+enddate1[1]).slice(0,19);
 var tzoffset = (new Date()).getTimezoneOffset()/60;



     $('#date_onset').datetimepicker({
		 onSelectDate: function(date){
			document.getElementById("date_onset").value = date.addHours(0).toISOString();
		},
		onSelectTime: function(time){
			document.getElementById("date_onset").value = time.addHours(-tzoffset).toISOString();
			var selDate = time.addHours(tzoffset);
			el('spDate1').innerHTML = '{% trans "Selected Date" %}: ' + selDate.toLocaleDateString() + ' ' + selDate.toLocaleTimeString();
		},
		format:'Y-m-dTH:s.sssZ',
		minDate:'1990/01/01',
		maxDate:'2018/01/01',
		mask:'29:59 99',
		step:5,
		ampm: true
    });

    $('#date_resolution').datetimepicker({
     onSelectDate: function(date){
	  document.getElementById("date_resolution").value = date.addHours(0).toISOString();
    },
    onSelectTime: function(time){
	  document.getElementById("date_resolution").value = time.addHours(-tzoffset).toISOString();
	  var selDate = time.addHours(tzoffset);
			el('spDate2').innerHTML = '{% trans "Selected Date" %}: ' + selDate.toLocaleDateString() + ' ' + selDate.toLocaleTimeString();
    },
    //format:'d-m-Y H:m:s',
	format:'Y-m-dTH:s.sssZ',
    minDate:'1990/01/01',
    maxDate:'2018/01/01',
    mask:'29:59 99',
    step:5,
    ampm: true,
    //defaultDate:enddate1,
    //value:enddate1
    });
*/
    $('#problem_fullname').autocomplete({
      serviceUrl: '/apps/problems/problems/codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#problem_code').val(data.code);
      }
    });


  });
 
function validateForm()
{
var problem_fullname=document.forms["myForm"]["problem_fullname"].value;
var date_onset = el('date_onset').value;
var date_resolution = el('date_resolution').value;

if (problem_fullname==null || problem_fullname=="")
  {
  alert({% trans "'Problem must be filled'" %});
  return false;
  }

if (date_onset==null || date_onset=="" || date_onset=="__:__ __")
  {
  alert({% trans "'Start date must be filled'" %});
  return false;
}

	if (el('date_resolution_input').value != '') {
		var dateStr1 = el('date_onset_input').value.split('-');
		var timeStr1 = el('time_onset_input').value.split(':');
		var date1 = new Date( parseInt(dateStr1[0]), parseInt(dateStr1[1]),parseInt(dateStr1[2]), parseInt(timeStr1[0]), parseInt(timeStr1[1]));

		var dateStr2 = el('date_resolution_input').value.split('-');
		var timeStr2 = el('time_resolution_input').value.split(':');
		var date2 = new Date( parseInt(dateStr2[0]), parseInt(dateStr2[1]),parseInt(dateStr2[2]), parseInt(timeStr2[0]), parseInt(timeStr2[1]));

		if(!(date2 > date1))
		{
			alert('{% trans "End date must be greater than Onset date." %}');
			return false;
		}
	}







//if (date_resolution==null || date_resolution=="")
//  {
//  alert("Allergen must be filled");
//  return false;
//}

}


var tzoffset = (new Date()).getTimezoneOffset()/60;
</script>
<head>

{% if jsonData %}
        {% if jsonData.5.z_score < -1 or jsonData.5.z_score > 2 %} <!--Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
        {%endif%}
     {% endif %}

        <meta charset="utf-8">
        <title>Speak.js Demo</title>
<!--        <script src="{{ STATIC_HOME }}/speakClient.js"></script>-->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>


<div class="container" style="border:0px solid blue;padding:0px;margin:0px;width:95%;" id="divContainer" >
	<div id="audio"></div>
	{% if record_id %}
	<script>
	  Indivo.Auth.setToken("{{surl_credentials.token}}","{{surl_credentials.secret}}");
	</script>
	{% endif %}
	<form name="myForm" onsubmit="return validateForm()"  method="post" action="">
		<div class="row"  style="margin-left:5px;">
			<div class="col-xs-12">
			<h2>{{problem.name_title}}</h2>
<!--			<h4>(SNOMEDCT:{{problem.name_identifier}})</h4>-->
			</div>
		</div>

		<div class="row" style="height:10px"></div>
		
		<div class="row" style="margin-left:5px;">
			<div class="form-group">
				<label>{% trans "Problem" %} <span style="color:red;font-weight:bold;font-size:20px;">*</span></label>
				<input type="text" name="code_fullname" id="problem_fullname"  value="{{problem.name_title}}" style="width:100%;" class="form-control" />
				<input type="hidden" name="code" id="code"value="{{problem.name_identifier}}" id="problem_code" /> (SNOMED CT)
			</div>
			<div class="form-group">
				<label>{% trans "Onset" %} <span style="color:red;font-weight:bold;font-size:20px;">*</span></label>
				<!--input type="text" name="date_onset" id="date_onset" class="date form-control" style="width: 100%" value='tetetete'/-->
				<br/>
			<input type="text" name="date_onset_input"  id="date_onset_input" style="width:200px;display:inline;" class="form-control date" autocomplete="off"/>
			<input type="text" name="time_onset_input"  id="time_onset_input" style="width:100px;display:inline;" value="00:00" class="form-control date" autocomplete="off"/>
			<input type="hidden" name="date_onset"  id="date_onset" style="width:200px;display:inline;" class="form-control" />
				<br/>
				
				
				<span id="spDate1"></span>
						<script>
						//var dt = new Date('{{problem.startDate}}').addHours(tzoffset);
						//el('spDate1').innerHTML = '{% trans "Selected Date" %}: ' + dt.toLocaleDateString() + ' ' + dt.toLocaleTimeString();
						</script>
			</div>
                         <script>
				window.onload=function(){
					var date = '{{problem.startDate}}';
					el('date_onset_input').value = date.split('T')[0];
					el('time_onset_input').value = date.split('T')[1].split(':')[0] + ':' + date.split('T')[1].split(':')[1];
					document.getElementById('date_onset').value= date
					
					el('spDate1').innerHTML = '{% trans "	 Date" %}: ' + el("date_onset_input").value+ ' ' + el("time_onset_input").value;
					
					date = '{{problem.endDate}}';
					el('date_resolution_input').value = '';
					el('time_resolution_input').value  = '';
					if (date !== 'None')
					{
						el('date_resolution_input').value = date.split('T')[0];
						el('time_resolution_input').value = date.split('T')[1].split(':')[0] + ':' + date.split('T')[1].split(':')[1];
						document.getElementById('date_resolution').value= date;
						el('spDate2').innerHTML = '{% trans "Selected Date" %}: ' + el("date_resolution_input").value+ ' ' + el("time_resolution_input").value;
					}					
				}

//				document.getElementById("date_onset").value = '{{problem.startDate}}';
                                
                         </script>

			<div class="form-group">
			          <label>{% trans "End date" %} <span style="color:red;font-weight:bold;font-size:20px;"></span></label>
	                        <br><label>{% trans "(if there is no end date the problem would not me visible in calendar)" %} </label><br/>
	
				<!--input type="text" name="date_resolution" id="date_resolution"  class="date form-control" style="width: 100%" value="{{problem.endDate}}" /-->
				<br/>
				<input type="text" name="date_resolution_input"  id="date_resolution_input" style="width:200px;display:inline;" class="form-control date" autocomplete="off"/>
			<input type="text" name="time_resolution_input"  id="time_resolution_input" style="width:100px;display:inline;" value="00:00" class="form-control date" autocomplete="off"/>
			<input type="hidden" name="date_resolution"  id="date_resolution" style="width:200px;display:inline;" class="form-control" />
				<br/>
				<span id="spDate2"></span>
						
			</div>

			<div class="form-group">
				<label>{% trans "Category" %}</label>
				<select name="category" id="category" value="{{problem.category}}" class="form-control">
					<option value="Primary disease">{% trans "Primary disease" %}</option>
					<option value="Co-morbidities">{% trans "Co-morbidities" %}</option>
			    </select>
			</div>
			<div class="form-group">
				<label>{% trans "Details" %}</label>
				<textarea name="comments" id ="comments" style="width: 100%"  class="form-control">{{problem.notes}}</textarea>
			</div>
			
			<div class="form-group">
			<span style="color:red;font-weight:bold;font-size:20px;">*</span> <b>{% trans "Mandatory Fields" %}</b>
		</div>
			
			<div class="form-group">
				<div class="row">
				<div class="col-lg-12" align="center" >
					 <input type="submit" value="{% trans "Update Problem" %}"  style="width:50%;max-width:300px" class="btn btn-primary btn-lg"/>
				</div>
				</div>
				<div class="row" style="height:10px;"></div>
				<div class="row">
				<div class="col-lg-12"  align="center">
					<a href="./../"><button   type="button" class="btn btn-warning btn-lg" style="width:50%;max-width:300px">{% trans "   Cancel" %}  </button></a>
				</div>
				</div>
			</div>
			
		</div>
	</form>
</div>


{% ifequal 1 0 %}

        <div id="audio"></div>
<div class="class1">

{% if record_id %}
<script>
  Indivo.Auth.setToken("{{surl_credentials.token}}","{{surl_credentials.secret}}");
</script>
{% endif %}

<h2>{{problem.name_title}} &nbsp;&nbsp;<span style="font-size:0.7em;">
<h4>(SNOMEDCT:{{problem.name_identifier}})</h4>
<!--<td><p align="right"><a href="./"><button>BACK</back></a></span></h2></p></td>-->
<td></td> 


 <form name="myForm" onsubmit="return validateForm()"  method="post" action="">

    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>
        <td>{% trans "Problem" %}</td>
        <td>
          <input type="text" name="code_fullname" id="problem_fullname"  value="{{problem.name_title}}" style="width: 100%" />
          <input type="hidden" name="code" id="code"value="{{problem.name_identifier}}" id="problem_code" /> (SNOMED CT)
        </td>
      </tr>

      <tr>
        <td>{% trans "Onset" %}</td>
        <td><input type="text" name="date_onset" id="date_onset" class="date" style="width: 100%" value="{{problem.startDate}}" /></td>
      </tr>
      <tr>
        <label>{% trans "End date" %} <span style="color:red;font-weight:bold;font-size:20px;"></span></label>
       <br><label>{% trans "(if there is no end date the problem would not me visible in calendar)" %} </label><br/>
 
        <td><input type="text" name="date_resolution" id="date_resolution"  class="date" style="width: 100%" value="{{problem.endDate}}" /></td>
      </tr>
      <tr><td>{% trans "Category" %}</td>
      <td> <select name="category" id="category" value="{{problem.category}}">
                <option value="Primary disease">{% trans "Primary disease" %}</option>
                <option value="Co-morbidities">{% trans "Co-morbidities" %}</option>
          </select>
      </td>
      </tr>

	<tr>
        <td>{% trans "Details" %}</td>
        <td><input type="text" name="comments" id ="comments" style="width: 100%" value="{{problem.notes}}"/></td>
      </tr>
 

    </table>

    <br />

    <div style="text-align: center">
      <input type="submit" value="{% trans "Update Problem" %}" style="width: 33%"/><p>
     <!-- <input type="button" style="width: 200px" onclick="history.go(-1);" value="    Cancel    ">-->
   
  


</div>
</form>

 <div align="center"><a href="./../"><button style="width: 200px">{% trans "   Cancel" %}  </button></a></div>


<h3>{% trans "Additional Information" %}</h3>
<div class="details">{% trans "Created at" %} {{meta.created_at}}</div>



  {% endifequal %}



{% endblock %}

