{% extends 'medications/templates/base.html' %}
{% block title %}medication list{% endblock %}
{% block content %}

<script>

window.alert = function(message){
    $(document.createElement('div'))
        .attr({title: 'Attention alert','class': 'alert'})
        .html(message)
        .dialog({
            buttons: {OK: function(){$(this).dialog('close');}},
            close: function(){$(this).remove();},
            draggable: true,
            modal: true,
            resizable: true,
            width: '80%',
        });
};
</script>
<script>
function check()
{
var str = document.getElementById("request").innerHTML ;


var splitted = str.split("@");
var content0=splitted[0];
var drugsN = splitted[1];
var drugsFinal = split("',");
var text = ""
for (var i = 0; i < drugsFinal.length; i++) { 
    text += drugsFinal[i] + '<br>';
}
var content2 = splitted[2];
var content3 = content2.split(".");
var content4 = content3[0];
var content5 = content3[1];

alert(content0+'<br>'+text+'</br>'+content4+'</br>'+content5);
}
check();

function check2()
{
var content = document.getElementById("request2").innerHTML ;
alert(content);
}
//check();

</script>	

<!--<style type="text/css">
 
li {font-size:18px;
    text-align: left;} 
</style>-->

<head>
        {% if jsonData.6.z_score < 0%} <!--physical abilities (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 16.5px;
            }
	.text{
		width:100%;
	}
        </style>
        {%endif%}
        <meta charset="utf-8">
        <title>Speak.js Demo</title>
        <script src="{{ STATIC_HOME }}/speakClient.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<div class="class1">

<body onload="check();check2();">

  <h2>Medications List {% if in_carenet %}(Shared){% endif %}</h2>

  {% ifequal num_problems 0 %}
  {% else %}
    <table class="light">
      <thead>
        <tr>
          <th scope="col"><b>Name</b></th>
          <th><b>Quantity</b></th>
          <th><b>Frequency</b></th>
	  <th><b>Instructions</b></th>
	  <th><b>Started on</b></th>
	  <th><b>Stoped on</b></th>
	  <th><b>Last filled</b></th>
	  <th><b>Options</b></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" style="text-align: right">{{num_medications}} medication{% ifequal num_medications 1 %}{% else %}s{% endifequal %}</td>
        </tr>
      </tfoot>
      <tbody> 

{#{% for drugs in drugNames %}#}

<!--<span id="request2" style="display:none">There are interactions between: <ul><align=right><li>{{data.1.drugNameA}}  <br><br> <li>{{data.1.drugNameB}} <br><br> </ul>  Details: <br><br> {{data.1.interactionDescription}} </span>-->
 <div id="request" style="display:none;" width="100%">There are interactions between: @<br><b>{{drugNames}}  </b><br><b>{{drugs}}</b><br><br> 

Details:@{{alertMessages}}</div>

<!-- palio kwdikas kai megethis!!!!!!!!	 <span id="request" style="display:none"><h3>There are interactions between: </h3><ul><align=right><li><h4>{{drugs.drugNameA}}  <br><br> <li>{{drugs.drugNameB}}</b> <br><br><br> </h4><h3> Details: </h3><b><br> <h4>{{drugs.interactionDescription}}</h4></li></b> </span>-->
   
{#{%endfor%}#}


        {% for p in interactMedications %}
                
         {% if p.1 == "yes" %}
          <tr class="{% cycle 'odd' 'even' %}">         

               <td bgcolor="#bf0000" ><a href="{{p.0.id}}"><font color="#FFECE9">{{p.0.drugName_title}}</a></td>
                        <td bgcolor="#bf0000" ><font color="#FFECE9">{{p.0.quantity_value}}{{p.0.quantity_unit}}</td>
                        <td bgcolor="#bf0000" ><font color="#FFECE9">{{p.0.frequency_value}}{{p.0.frequency_unit}}</td>
                        <td bgcolor="#bf0000"><font color="#FFECE9">{{p.0.instructions}}</td>
                        <td bgcolor="#bf0000"><font color="#FFECE9">{{p.0.startDate}}</td>
                        <td bgcolor="#bf0000"><font color="#FFECE9">{{p.0.endDate}}</td>
                        <td bgcolor="#bf0000"><font color="#FFECE9">{% regroup p.0.fulfillments|dictsortreversed:"date" by date as date_list %} 

                        {% for date in date_list|slice:":1" %}
                                <p>{{ date.grouper }}</p>
                        {% endfor %}</td></font>
                        <td bgcolor="#bf0000"><a href="edit/{{p.0.id}}"><button style="width:70px">edit</button></a>
                        <a href="delete/{{p.0.id}}"><button style="width:70px">delete</button></a>
                        </td>
                        
	{% else %}
	
			 <td><a href="{{p.0.id}}">{{p.0.drugName_title}}</a></td>
                         <td>{{p.0.quantity_value}}{{p.0.quantity_unit}}</td>
                         <td>{{p.0.frequency_value}}{{p.0.frequency_unit}}</td>
                         <td>{{p.0.instructions}}</td>
                         <td>{{p.0.startDate}}</td>
                         <td>{{p.0.endDate}}</td>
                         <td>{% regroup p.0.fulfillments|dictsortreversed:"date" by date as date_list %}                     
                                        {#{{date_list.0}}#}
                         {% for date in date_list|slice:":1" %}
                            <p>{{ date.grouper }}</p>
                         {% endfor %}</td>

                         <td><a href="edit/{{p.0.id}}"><button style="width:70px">edit</button></a>
                         <a href="delete/{{p.0.id}}"><button style="width:70px">delete</button></a>

                         </td>
         </tr>
      
          
	  {% endif %} 
               

	    </td>
          </tr>
	  
         {% endfor %}
      </tbody>
    </table>
  {% endifequal %}
 

  {% if not in_carenet %}
  <p><a href="new">[add a medication]</a></p>

  <p><a href="archived">[deleted medications]</a></p>

  {% endif %}
</body>
{% endblock %}
