{% extends 'medications/templates/base.html' %}
{% block title %}medication list{% endblock %}
{% block content %}

<script>
function check()
{
var content = document.getElementById("request").innerHTML ;
alert(content);
}
check();
</script>	


<body onload="check()">
  <h2>Medications List {% if in_carenet %}(Shared){% endif %}</h2>

  {% ifequal num_problems 0 %}
  {% else %}
    <table class="light">
      <thead>
        <tr>
          <th scope="col"><b>Name</b></th>
          <th><b>Quantity</b></th>
          <th><b>Frequency</b></th>
	  <th><b>Instructions</b></th>
	  <th><b>Started on</b></th>
	  <th><b>Stoped on</b></th>
	  <th><b>Last filled</b></th>
	  <th><b>Options</b></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" style="text-align: right">{{num_medications}} medication{% ifequal num_medications 1 %}{% else %}s{% endifequal %}</td>
        </tr>
      </tfoot>
      <tbody>

        {% for p in medications %}
          <tr class="{% cycle 'odd' 'even' %}">

       	 
		  {% if forloop.counter == 1 or forloop.counter == 2 %}
			{% if request.0.requestResult != "Drugs with the specified names are not found in the database!" and request.0.requestResult != "No Interactions are found between the two drugs!"%}
			
	                <span id="request" style="display:none">There are interactions between: {{drugsData0}} and {{drugsData1}}    Details: {{request.0.requestResult}} </span>
   			<td bgcolor="#7D0000" ><a href="{{p.id}}"><font color="#FFECE9">{{p.drugName_title}}</a></td>
                	<td bgcolor="#7D0000" ><font color="#FFECE9">{{p.quantity_value}}{{p.quantity_unit}}</td>
    	        	<td bgcolor="#7D0000" ><font color="#FFECE9">{{p.frequency_value}}{{p.frequency_unit}}</td>
                	<td bgcolor="#7D0000"><font color="#FFECE9">{{p.instructions}}</td>
            		<td bgcolor="#7D0000"><font color="#FFECE9">{{p.startDate}}</td>
            		<td bgcolor="#7D0000"><font color="#FFECE9">{{p.fill}}</td>
			<td bgcolor="#7D0000"><font color="#FFECE9">{% regroup p.fulfillments|dictsortreversed:"date" by date as date_list %}

                	{% for date in date_list|slice:":1" %}
                   		<p>{{ date.grouper }}</p>
                 	{% endfor %}</td></font>
            		<td bgcolor="#7D0000"><a href="edit/{{p.id}}"><button style="width:70px">edit</button></a>
            		<a href="delete/{{p.id}}"><button style="width:70px">delete</button></a> 
            		</td>
          		</tr>
			{% else %}
					<td><a href="{{p.id}}">{{p.drugName_title}}</a></td>
            		    		<td>{{p.quantity_value}}{{p.quantity_unit}}</td>
                			<td>{{p.frequency_value}}{{p.frequency_unit}}</td>
                			<td>{{p.instructions}}</td>
                			<td>{{p.startDate}}</td>
                			<td>{{p.fill}}</td>
                			<td>{% regroup p.fulfillments|dictsortreversed:"date" by date as date_list %}
                			{#{{date_list.0}}#}
                			{% for date in date_list|slice:":1" %}
                   			<p>{{ date.grouper }}</p>
                			{% endfor %}</td>
     
                			<td><a href="edit/{{p.id}}"><button style="width:70px">edit</button></a>
                			<a href="delete/{{p.id}}"><button style="width:70px">delete</button></a>
         
            				</td>
          			</tr>
	   
	            {% endif %}
                
	    {% else %}
            	<td><a href="{{p.id}}">{{p.drugName_title}}</a></td>
            	<td>{{p.quantity_value}}{{p.quantity_unit}}</td>
            	<td>{{p.frequency_value}}{{p.frequency_unit}}</td>
   	    	<td>{{p.instructions}}</td>
	    	<td>{{p.startDate}}</td>
	    	<td>{{p.fill}}</td>
	        <td>{% regroup p.fulfillments|dictsortreversed:"date" by date as date_list %}
		{#{{date_list.0}}#}
		{% for date in date_list|slice:":1" %}
  		   <p>{{ date.grouper }}</p>
  		{% endfor %}</td> 
    		    {#{% for item in date.list|slice:":1" %}#}
			{#{% if forloop.last %}#}
			{#{% if forloop.counter lt 1 %}#}
		{#	{% if forloop.counter == 1 %}#}
            			{#{{ item.date }}#}
			{#{% endif %}#}
			{#{% endif %}#}
        	    {#{% endfor %}#}
	        {#{% endfor %}#}
	    {#{% for i in p.fulfillments %}#}
		{#{{ p.fulfillments|dictsort:"date" }}#}
            {#{% endfor %}#}
	        <td><a href="edit/{{p.id}}"><button style="width:70px">edit</button></a>
                <a href="delete/{{p.id}}"><button style="width:70px">delete</button></a>
	   <!-- <a href="addFill/{{p.id}}"><button>add fill</button></a>-->
	    </td>
          </tr>
          {% endif %} 
         {% endfor %}
      </tbody>
    </table>
  {% endifequal %}
 

  {% if not in_carenet %}
  <p><a href="new">[add a medication]</a></p>
  <!--<p><a href="test">[test message send]</a></p>-->
  <p><a href="archived">[deleted medications]</a></p>

  {% endif %}
</body>
{% endblock %}
