{% extends 'medications/templates/base.html' %}
{% block title %}new fill{% endblock %}
{% block content %}

<script>
  $(document).ready(function() {
    $('.date').datepicker({'dateFormat':'yy-mm-dd'});
    $('.startDate').datepicker({'dateFormat':'yy-mm-dd'});
    $('.endDate').datepicker({'dateFormat':'yy-mm-dd'});
    $('#drugName_title').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#drugName_identifier').val(data.code);
      }
    })
   $('#provenance_title').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#provenance_identifier').val(data.code);
      }
    })
   $('#drugName_title').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#drugName_identifier').val(data.code);
      }
    })

  });


function validateForm()
{
var startDate=document.forms["myForm"]["startDate"].value;
var drugName_title=document.forms["myForm"]["drugName_title"].value;
var date=document.forms["myForm"]["date"].value;
var dispenseDaysSupply=document.forms["myForm"]["dispenseDaysSupply"].value;

if (startDate==null || startDate=="")
  {
  alert("Start date must be filled");
  return false;
  }
if (drugName_title==null || drugName_title=="")
 {
  alert("Drug name title must be filled");
  return false;
  }

if (date==null || date=="")
 {
  alert("Date of fill myst be filled")
  return false;
 }

if (dispenseDaysSupply==null || dispenseDaysSupply=="")
 {
  alert("Dispense days supply must be filled");
  return false;
  }

}

</script>

<h2>New Fill &nbsp;&nbsp;<span style="font-size:0.7em; font-weight: normal; text-transform: uppercase">
<!--[<a href="./">Cancel</a>]-->
</span></h2>

  <form name="myForm" onsubmit="return validateForm()" method="post" action="">
    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>  
     
       <tr>
        <td>Date</td>
        <td><input type="text" name="date" id="date" class="date"style="width: 100%"></td>

      </tr>

       <tr>
        <td>Dispense Days Supply</td>
        <td><input type="text" name="dispenseDaysSupply" id="dispenseDaysSupply" style="width: 100%"></td>

      </tr>
      <tr>
        <td>Pbm</td>
        <td><input type="text" name="pbm" id="pbm" style="width: 100%"></td>

      </tr>
      <tr>
        <td>Pharmacy id</td>
        <td><input type="text" name="pharmacy_ncpdpid" id="pharmacy_ncpdpid" style="width: 100%"></td>

      </tr>
      <tr>
        <td>Pharmacy organization</td>
        <td><input type="text" name="pharmacy_org" id="pharmacy_org" style="width: 100%"></td>

      </tr>
      <tr>
        <td>Country of pharmacy</td>
        <td><input type="text" name="pharmacy_adr_country" id="pharmacy_adr_country" style="width: 100%"></td>

      </tr>

       <tr>
        <td>City of pharmacy</td>
        <td><input type="text" name="pharmacy_adr_city" id="pharmacy_adr_city" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Postalcode of pharmacy</td>
        <td><input type="text" name="pharmacy_adr_postalcode" id="pharmacy_adr_postalcode" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Street of pharmacy</td>
        <td><input type="text" name="pharmacy_adr_street" id="pharmacy_adr_street" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider dea number</td>
        <td><input type="text" name="provider_dea_number" id="provider_dea_number" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider npi number</td>
        <td><input type="text" name="provider_npi_number" id="provider_npi_number" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider email</td>
        <td><input type="text" name="provider_email" id="provider_email" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider name</td>
        <td><input type="text" name="provider_name_given" id="provider_name_given" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider family name</td>
        <td><input type="text" name="provider_name_family" id="provider_name_family" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Provider telephone type</td>
        <td><input type="text" name="provider_tel_1_type" value="w" id="provider_tel_1_type" style="width: 100%"></td>

       <tr>
        <td>Provider telephone</td>
        <td><input type="text" name="provider_tel_1_number" id="provider_tel_1_number" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Preferred number</td>
        <!--<td><input type="text" name="provider_tel_1_preferred_p" id="provider_tel_1_preferred_p" style="width: 100%"></td>-->
	<td><select name="provider_tel_1_preferred_p" id="provider_tel_1_preferred_p">
                <option value="true">True</option>
                <option value="false">False</option> 
          </select></td>

      </tr>
       <tr>
        <td>Quantity dispensed value</td>
        <td><input type="text" name="quantityDispensed_value" id="quantityDispensed_value" style="width: 100%"></td>

      </tr>
       <tr>
        <td>Quantity dispensed unit</td>
        <td><input type="text" name="quantityDispensed_unit" id="quantityDispensed_unit" style="width: 100%"></td>

      </tr>

    </table>

    <br />
    
    <div style="text-align: center">
      <input type="submit" value="Add New Fill" style="width: 33%"/><p><p>
<!--      <input type="button" style="width: 200px" onclick="history.go(-1);" value="    Cancel    ">-->
    </div>
  </form>
   <p align="center"><a href="http://iapetus.ics.forth.gr/apps/medications/medications/"><button style="width: 200px"> Back </button></a><p>
{% endblock %}
