{% extends 'allergies/templates/base.html' %}
{% block title %}new allergy{% endblock %}
{% block content %}
{% load i18n %}

<html>
<head>

</style>
<script>
 $(document).ready(function() {
    //$('.date').datepicker({'dateFormat':'yy-mm-dd'});
  //$('.auto-complete-tbx').each(function() {
  //$(this).autocomplete({
    //  serviceUrl: 'codelookup',
      //minChars: 2,
      //onSelect: function (value, data) {
        //$('.auto-complete-code').val(data.code)}

    //})
  //});
     $('#allergic_reaction_title').autocomplete({
      serviceUrl: '/apps/allergies/allergies/codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#allergic_reaction_code').val(data.code);
      }
    })

    $('#category_fullname').autocomplete({
      serviceUrl: '/apps/allergies/allergies/codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#category_code').val(data.code);
      }
    })

    $('#drug_class_allergen_fullname').autocomplete({
      serviceUrl: '/apps/allergies/allergies/codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#drug_class_allergen_code').val(data.code);
       $('#allergen_name').val(data.code);
      }
    })

    $('#severity_fullname').autocomplete({
      serviceUrl: '/apps/allergies/allergies/codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#severity_code').val(data.code);
      }
    })

});



function validateForm()
{
var allergic_reaction_title=document.forms["myForm"]["allergic_reaction_title"].value;
var severity_title=document.forms["myForm"]["severity_title"].value;
var category_fullname=document.forms["myForm"]["category_fullname"].value;


if (allergic_reaction_title==null || allergic_reaction_title=="")
  {
  alert({% trans "'Allergic reaction must be filled'" %});
  return false;
  }

if (severity_title==null || severity_title=="")
  {
  alert({% trans "'Severity must be filled'" %});
  return false;
}

if (category_fullname==null || category_fullname=="")
  {
  alert({% trans "'Type must be filled'" %});
  return false;
}

}
</script>
{% if record_id %}
<script>
  Indivo.Auth.setToken("{{surl_credentials.token}}","{{surl_credentials.secret}}");
</script>
{% endif %}
</head>
<body>
<script>
   function setPageSize()
   {   	
   	if (el('divList'))el('divList').style.width = (el('divContainer').offsetWidth-0).toString() + 'px';   	
	if (window.top.document.getElementById('app_container'))
		el('divContainer').style.width = (window.top.document.getElementById('app_container').offsetWidth-0).toString() + 'px';	
   }
   
   setInterval('setPageSize();', 500);
</script>
<div class="container" style="border:0px solid blue;padding:0px;margin:0px;width:100%;overflow-x:hidden;" id="divContainer" >
	<form method="post" id="myForm" name="myForm" onsubmit="return validateForm()" action="">
	
	<div class="row" style="height:10px;"></div>
		
	<div class="row"  style="margin-left:5px;">
		<div class="col-xs-12">
		<h2>{{allergy.allergic_reaction_title}} </h2>
<!--		<h4>(SNOMEDCT:{{allergy.allergic_reaction_identifier}})</h4>-->
		</div>
    </div>
	
	<div class="row"  style="height:10px;"></div>
	
	<div class="row" style="margin-left:5px;width:90%;">
	
		<div class="form-group">
			<label>{% trans "Allergy" %} <span style="color:red;font-weight:bold;font-size:20px;">*</span></label>
			<input type="text" name="allergic_reaction_title"  value="{{allergy.allergic_reaction_title}}" id="allergic_reaction_title" style="width: 100%" class="form-control"/>
            <input type="hidden" name="allergic_reaction_identifier"  value="{{allergy.allergic_reaction_identifier}}" id="allergic_reaction_code"/>
		</div>
		<div class="form-group">
			<label>{% trans "Type" %}</label>
			<select name="category_title" id="category_fullname" value="Food allergy" class="form-control">
                <option value="Food allergy">{% trans "Food allergy" %}</option>
                <option value="Environmental allergy">{% trans "Environmental allergy" %}</option>
                <option value="Drug allergy">{% trans "Drug allergy" %}</option>
                <option value="Drug intolerance">{% trans "Drug intolerance" %}</option>
                <option value="Food intolerance">{% trans "Food intolerance" %}</option>
          </select>

		
                  <script>
                        el('category_fullname').value='{{allergy.category_title}}';
                 </script>

		</div>
<!--		<div class="form-group">
			<label>{% trans "Drug class allergen" %}</label>-->
			<input type="hidden" class="form-control" name="drug_class_allergen_title" value="{{allergy.drug_class_allergen_title}}" id="drug_class_allergen_fullname" style="width: 100%" />
            <input type="hidden" name="drug_class_allergen_identifier" value="{{allergy.drug_class_allergen_identifier}}" id="drug_class_allergen_code"/>
             <input type="hidden" name="allergen_name" value="None" id="drug_class_allergen_code"/>
		<input type="hidden" name="allergen_id" id="category_code" value="414285001" style="width: 100%" />

<!--		</div>-->
		<div class="form-group">
			<label>{% trans "Severity" %}</label>
			<select name="severity_title" id="severity_title" class="form-control">
                <option value="Mild">{% trans "Mild" %}</option>
                <option value="Moderate">{% trans "Moderate" %}</option>
                <option value="Severe">{% trans "Severe" %}</option>
                <option value="Life Threatening">{% trans "Life Threatening" %}</option>
                <option value="fatal">{% trans "Fatal" %}</option>
            </select>

		  <script>
                        el('severity_title').value='{{allergy.severity_title}}';
                 </script>



			<input type="hidden" name="severity_identifier" value="255604002" id="severity_identifier"/>
		</div>
		<div class="form-group">
			<span style="color:red;font-weight:bold;font-size:20px;">*</span> <b>{% trans "Mandatory Fields" %}</b>
		</div>
		 <div class="form-group">
                <label>What is a food allergy?</label>

                A food allergy is an immune system response. It is caused when the body mistakes an ingredient in food — usually a protein — as harmful and creates a defense system (antibodies) to fight it. An allergic reaction occurs when the antibodies are battling an "invading" food protein. The most common food allergies are shellfish, nuts, fish, eggs, peanuts and milk.
                <br><br>
        <label>What is food intolerance?</label>

                Food intolerance is a digestive system response rather than an immune system response. It occurs when something in food irritates a person’s digestive system or when a person is unable to properly digest, or break down, the food. Intolerance to lactose, which is found in milk and other dairy products, is the most common food intolerance.
                </div>

	</div>
	<div class="row" style="height:10px;"></div>
	<div class="row">
		<div class="row">
		<div class="col-lg-12" align="center">
			<input type="submit" value="{% trans "Update Allergy" %}" style="width:50%;max-width:300px;"  class="btn-lg btn-primary btn"/>
		</div>
		</div>
		<div class="row" style="height:10px;"></div>
		<div class="row">
		<div class="col-lg-12" align="center">
			<a href="./../"><button style="width:50%;max-width:300px;" type="button"  class="btn-lg btn-warning btn"> {% trans "   Cancel" %} </button></a>
		</div>
		</div>
	</div>
	</form>
</div>




{% ifequal 1 0 %}
<div class="class1">

<h2>{{allergy.allergic_reaction_title}} &nbsp;&nbsp;<span style="font-size:0.7em;">
<h4>(SNOMEDCT:{{allergy.allergic_reaction_identifier}})</h4>
<td><div align = "right"></div></h2></p></td>

 <form method="post" id="myForm" name="myForm" onsubmit="return validateForm()" action="">
    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>

        <td>{% trans "Allergy" %}</td>
        <td>
          <input type="text" name="allergic_reaction_title"  value="{{allergy.allergic_reaction_title}}"id="allergic_reaction_title" style="width: 100%"/>
          <input type="hidden" name="allergic_reaction_identifier"  value="{{allergy.allergic_reaction_identifier}}" id="allergic_reaction_code"/>
		  <input type="hidden" name="allergen_id" id="category_code" value="414285001" style="width: 100%" />
        </td>
      </tr>
       <td>{% trans "Allergen type" %}</td>

<!--          <input type="text" name="allergen_type" id="category_fullname" style="width: 100%"/>-->
          <td> <select name="category_title" id="category_fullname" value="Food allergy">
                <option value="Food allergy">{% trans "Food allergy" %}</option>
                <option value="Environmental allergy">{% trans "Environmental allergy" %}</option>
                <option value="Drug allergy">{% trans "Drug allergy" %}</option>
                <option value="Drug intolerance">{% trans "Drug intolerance" %}</option>
                <option value="Food intolerance">{% trans "Food intolerance" %}</option>
          </select>
</td>
 <input type="hidden" name="allergen_id" id="category_code" value="414285001" style="width: 100%" />
     <!--  <td>{% trans "Allergen type" %}</td>
       <td>
          <input type="text" name="category_title" value="{{allergy.category_title}}" id="category_title" />
          <input type="text" name="allergen_id" value="{{allergy.category_identifier}}"id="category_code" style="width: 100%" />
       </td>-->
      </tr>
      <tr>
        <td>{% trans "Drug class allergen" %}</td>
        <td><input type="text" name="drug_class_allergen_title" value="{{allergy.drug_class_allergen_title}}"id="drug_class_allergen_fullname" style="width: 100%" />
            <input type="hidden" name="drug_class_allergen_identifier" value="{{allergy.drug_class_allergen_identifier}}" id="drug_class_allergen_code"/>
             <input type="hidden" name="allergen_name" value="None" id="drug_class_allergen_code"/>

        </td>
      </tr>
      <tr>
<!--        <td> {% trans "Severity" %}</td>
        <td><input type="text" name="severity_title" value="{{allergy.severity_title}}" id="severity_fullname" style="width: 100%" />
            <input type="text" name="severity_identifier" value="{{allergy.severity_identifier}}" id="severity_code"/>
        </td>-->
	<td>{% trans " Severity" %}</td>
        <td> <select name="severity_title" id="severity_title">
                <option value="Mild">{% trans "Mild" %}</option>
                <option value="Moderate">{% trans "Moderate" %}</option>
                <option value="Severe">{% trans "Severe" %}</option>
                <option value="Life Threatening">{% trans "Life Threatening" %}</option>
                <option value="fatal">{% trans "Fatal" %}</option>
          </select>
</td><td>
<!--        <td><input type="text" name="severity_title" class="auto-complete-tbx" id="severity_fullname" style="width: 100%" />-->
            <input type="hidden" name="severity_identifier" value="255604002" id="severity_identifier"/>

      </tr>
      <tr>
        <!--<td>Severity</td>
        <td><input type="text" name="code_fullname" class="auto-complete-tbx" id="severity_fullname" style="width: 100%" />
            <input type="text" name="code" value="" id="severity_code"/>
        </td>
      </tr>
      <tr>
         <td>Details</td>
         <td><input type="textarea" name="comments" cols="50" rows="3" wrap="soft" style="width: 100%"></textarea>
        </td>
      </tr>-->

      </tr>
    </table>

 <br />

    <div style="text-align: center">
      <input type="submit" value="{% trans "Update Allergy" %}" style="width: 33%"/><p>
     <div align="center"><a href="./"><button style="width: 200px"> {% trans "   Cancel" %} </button></a></div> 
    </div>
  </form>


<h3>{% trans "Additional Information" %}</h3>
<div class="details">{% trans "Created at" %} {{meta.created_at}}</div>
</div>

{% endifequal  %}
</body>
{% endblock %}
</html>

