{% extends 'problems/templates/base.html' %}
{% block title %}Deleted appointments list{% endblock %}
{% block content %}
{% load i18n %}
<head>
    {% if jsonData %}
        {% if jsonData.5.z_score < -1 or jsonData.5.z_score > 2 %} <!--Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
        {%endif%}
     {% endif %}
 

        <title>Speak.js Demo</title>
<!--        <script src="{{ STATIC_HOME }}/speakClient.js"></script>-->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
<script>
   function setPageSize()
   {   	
   	el('divList').style.width = (el('divContainer').offsetWidth-0).toString() + 'px';   	
	if (window.top.document.getElementById('app_container'))
		el('divContainer').style.width = (window.top.document.getElementById('app_container').offsetWidth-0).toString() + 'px';	
   }
   
   setInterval('setPageSize();', 500);
</script>



<div class="container" style="border:0px solid blue;padding:0px;margin:0px;width:100%;overflow-x:hidden;" id="divContainer" >
	<div class="row"  style="margin-left:5px;">
		<div class="col-xs-12">
		<h2>{% trans "Deleted Appointments List" %} {% if in_carenet %}(Shared){% endif %}</h2>
		</div>
    </div>
	<div class="row"  style="height:10px;"></div>
		
   {% ifequal num_appointments 0 %}
   {% else %}
	<div class="row" id="divList" style="margin-left:5px;">
      <div class="col-xs-12">
         <div class="row" style="border:1px solid silver;">
            <div class="col-xs-3">
               <b>{% trans "Title" %}</b>
            </div>
            <div class="col-xs-3">
               <b>{% trans "Date" %}</b>
            </div>            
			<div class="col-xs-3">
               <b>{% trans "Time" %}</b>
            </div> 
            <div class="col-xs-3">
			   <b>{% trans "Restore" %}</b>
			</div>
         </div>
         {% for p in appointments %}
         <div class="row" style="border-left:1px solid silver;border-right:1px solid silver;border-bottom:1px solid silver;">			
            <div class="col-xs-3">
               <span id="td_id" style="display:none">{{appointmentss}}</span>
                <a href="{{p.id}}">{{p.appointment_title}}</a>
            </div>
            <div class="col-xs-3">
				<script>
			   var dt = '{{p.date}}';
			   document.write(dt.split('T')[0]);
			   </script>
            </div>
			<div class="col-xs-3">
				{{p.time}}
            </div>           
            <div class="col-xs-3">
				<a href="restore/{{p.id}}"><button  class="btn btn-primary btn-sm" style="width:100px;">{% trans "restore" %}</button></a>
            </div>
         </div>
         {% endfor %}
         <div class="row" style="border-left:1px solid silver;border-right:1px solid silver;border-bottom:1px solid silver;">
            <div class="col-xs-12" style="text-align: right">
               {{num_appointments}} Deleted {% ifequal num_appointments 1 %}appointment{% else %}appointments{% endifequal %}
            </div>
         </div>
      </div>
   </div>
    {% endifequal %}
</div>
  <div class="row" style="text-align:center;">
                                                <a href="./"><button style="width: 50%" class="btn btn-warning btn-lg"> {% trans "Back" %} </button></a>
                                    </div>


{% ifequal 1 0 %}
<div id="audio"></div>
<div class="class1">

  <h2>{% trans "Deleted Appointments List" %} {% if in_carenet %}(Shared){% endif %}</h2>

  {% ifequal num_appointments 0 %}
  {% else %}
    <table class="light">
      <thead>
        <tr>
          <th scope="col"><b>{% trans "Title" %}</b></th>
          <th><b>{% trans "Date" %}</b></th>
          <th><b>{% trans "Time" %}</b></th>
	  <th><b>{% trans "Restore" %}</b></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" style="text-align: right">{{num_appointments}} appointment{% ifequal num_appointmentss 1 %}{% else %}s{% endifequal %}</td>
        </tr>
      </tfoot>
      <tbody>
        {% for p in appointments %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{{p.id}}">{{p.appointment_title}}</a></td>
            <td>{{p.date}}</td>
            <td>{{p.time}}</td>
            <td><a href="restore/{{p.id}}"><button>{% trans "restore" %}</button></a>

	    </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endifequal %}

  {% if not in_carenet %}
       <p align="center"><a href="./"><button style="width: 200px"> {% trans "Back" %} </button></a><p>

   
  {% endif %}
  
  {% endifequal %}
</body>
{% endblock %}
