{% extends 'problems/templates/base.html' %}
{% block title %}Procedure{% endblock %}
{% block content %}
{% load i18n %}
{% if record_id %}
<html>

<head>
     {% if jsonData != " " %}

         {% if jsonData.5.z_score < -2 or jsonData.5.z_score > 2 %} <!-- Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
	{% endif %}
     {% endif %}


<script>
$( document ).ready(function() {


        inIframe();
        function inIframe () {
                var div = document.getElementById('cancel_div');
		
                //if(self==top){
		var hideDiv = (window.parent.document.getElementById('frApp') != null);
		if (hideDiv) {
                        div.style.visibility = 'hidden';


                }
                else
                {
                        div.style.visibility = 'visible';

                }
        }

});
</script>


</head>
<body>
<script>
  Indivo.Auth.setToken("{{surl_credentials.token}}","{{surl_credentials.secret}}");
</script>
{% endif %}

<script>
   function setPageSize()
   {   	
   	el('divList').style.width = (el('divContainer').offsetWidth-0).toString() + 'px';   	
	if (window.top.document.getElementById('app_container'))
		el('divContainer').style.width = (window.top.document.getElementById('app_container').offsetWidth-0).toString() + 'px';	
   }
   
   setInterval('setPageSize();', 500);
</script>
<div class="container" style="padding:0px;margin:0px;width:100%;overflow-x:hidden;overflow-y:hidden;" id="divContainer" >
<div class="row" style="margin-left:5px;">
<!--	<div id="cancel_div" name="cancel_div">
	<div class="row" style="height:30px"></div>
	<div class="row" style="margin-left:5px;text-align:center;">
			<a href="./"><button style="width: 200px" class="btn btn-lg btn-primary">{% trans " Back" %} </button></a>
		</div>
		<div class="row" style="height:10px"></div>
	 </div>-->
	<div class="row"  style="margin-left:5px;">
			<div class="col-xs-12">
				<h2>{{problem.name_type}} &nbsp;&nbsp;&nbsp;</h2>
			<!--	<h4>(SNOMEDCT:{{problem.name_value}})</a></h4>-->
			</div>
		</div>
		
	<div class="row"  style="margin-left:5px;">
	<div class="col-lg-8">		
		<div class="row" style="margin-left:5px">
		  
			<div class="form-group"><label>{% trans "Date Performed" %}&nbsp;</label>{{problem.date_performed}}</div>
			<div class="form-group"><label>{% trans "Provider Name" %}&nbsp;</label>{{problem.provider_name}}</div>
			<div class="form-group"><label>{% trans "Provider Hospital" %}&nbsp;</label>{{problem.provider_institution}}</div>
			<div class="form-group"><label>{% trans "Location" %}&nbsp;</label>{{problem.location}}</div>
			<div class="form-group"><label>{% trans "Comments" %}&nbsp;</label>{{problem.comments}}</div>
			
		</div>
<!--		<div class="row" style="height:10px;"></div>
		<div class="row" style="margin-left:5px">
			<h3>Additional Information</h3>
			<div class="details">{% trans "Created at" %} {{meta.created_at}}</div>
		</div>
		
	</div>-->
	<div class="col-lg-4">
		<div style="float:left;">
		{% if record_id %}
		  <script>
			//Indivo.Widget.DocumentAccess.add('{{record_id}}', '{{problem_id}}');
		  </script>
		{% endif %}
		</div>
	</div>
	
		
		
	</div>
	</div>
	<div class="row" style="height:20px;"></div>
		<div class="row" style="margin-left:5px;text-align:center;" id="cancel_div" name="cancel_div">
		<input type="button" onclick="location.href='./';return false;" style="width: 200px" class="btn btn-lg btn-warning" value="{% trans "Back" %}"/> 
			<!--a href="./"><button style="width: 200px" class="btn btn-lg btn-primary">{% trans " Back" %} </button></a-->
		</div>
	</div>




{% ifequal 1 0 %}
<div class="class1">
<h2>{{problem.name_type}} &nbsp;&nbsp;&nbsp;</h2>
<h4>(SNOMEDCT:{{problem.name_abbrev}})</h4>

<table class="light" style="width: 66%; margin: 2em 0;">
  <tbody>
    <col style="width: 25%"></col>
    <col style="width: 75%"></col>
    <tr><th scope="row">{% trans "Date Performed" %}</th><td>{{problem.date_performed}}</td></tr>
    <tr><th scope="row">{% trans "Provider Name" %}</th><td>{{problem.provider_name}}</td></tr>
    <tr><th scope="row">{% trans "Provider Hospital" %}</th><td>{{problem.provider_institution}}</td></tr>
    <tr><th scope="row">{% trans "Location" %}</th><td>{{problem.location}}</td></tr>
    <tr><th scope="row">{% trans "Comments" %}</th><td>{{problem.comments}}<br> <!--(SNOMEDCT:{{problem.name_value}})--></td></tr>
  </tbody>
</table>

<h3>Additional Information</h3>
<div class="details">{% trans "Created at" %} {{meta.created_at}}</div>
</div><br>

<div align="center"><a href="./"><button style="width: 200px">{% trans " Back" %} </button></a></div>

{% endifequal %}
{% endblock %}
</body>
</html>
