{% extends 'problems/templates/base.html' %}
{% block title %}archived procedure list{% endblock %}
{% block content %}



  <h2>Procedures List {% if in_carenet %}(Shared){% endif %}</h2>

<head>
    {% if jsonData != " " %}

        {% if jsonData.5.z_score < -2 or jsonData.5.z_score > 2 %} <!--Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
	{% endif %}
    {% endif %}
</head>

<div class="class1">
  {% ifequal num_problems 0 %}
  {% else %}
    <table class="light">
      <thead>
        <tr>
          <th scope="col"><b>Name</b></th>
          <th><b>Date performed</b></th>
          <th><b>Institution</b></th>
          <th><b>Modify/Delete</b></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" style="text-align: right">{{num_problems}} procedure{% ifequal num_problems 1 %}{% else %}s{% endifequal %}</td>
        </tr>
      </tfoot>
      <tbody>
        {% for p in problems %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{{p.id}}">{{p.name}}--{{p.status}}</a></td>
            <td>{{p.date_performed}}</td>
            <td>{{p.provider_institution}}</td>
            <td><a href="restore/{{p.id}}"><button>restore</button></a> 
          </tr> 
        {% endfor %}
      </tbody>
    </table>
  {% endifequal %}

  {% if not in_carenet %}
	<div align="center"><a href="./"><button style="width: 200px"> Back </button></a></div>

  	<!--<p><a href="deletedProcedures">[Deleted procedures]</a></p>-->
  {% endif %}
</div>
{% endblock %}
