{% extends 'problems/templates/base.html' %}
{% block title %}problem list{% endblock %}
{% block content %}
{% load i18n %}
  

<head>


<script>
 function apicall(url,onsuccess, onerror)
                {
                $.ajax({
          url: url,
          dataType: 'text',
          crossDomain:true,
          cors:true,
          success: onsuccess,
          error: onerror
        });
                }


function getEmail_error(result){
        alert('getEmail Error: ' + result.toSource());
}

function getEmail_success(result){

        if (result.indexOf("error") !=-1) {
 	   alert('This account does not exist on the server.');

	}
	else{
		document.getElementById("senderemail").value = window.top.ACCOUNT_ID;
		document.getElementById('contactForm').submit();
	}
}


function emailExists(){
	var email=document.forms["contactForm"]["email"].value;

	apicall('https://www.iphr.care/accounts/'+email+'/name',getEmail_success,getEmail_error);
	return false;
}
</script>


</head>
<body>
<h3>{% trans  "Send an email to the administrator to describe the number and kind of patients that you need to give consent " %}    </h3>
<form name="contactForm" id="contactForm" action="contactadmin" onsubmit="return emailExists()" method="POST">
<script>
   function setPageSize()
   {   	
   	if (el('divList'))el('divList').style.width = (el('divContainer').offsetWidth-0).toString() + 'px';   	
	if (window.top.document.getElementById('app_container'))
		el('divContainer').style.width = (window.top.document.getElementById('app_container').offsetWidth-50).toString() + 'px';	
   }
   
   setInterval('setPageSize();', 500);
</script>
<div class="container" style="border:0px solid blue;padding:0px;margin:0px;width:100%;overflow-x:hidden;" id="divContainer" >
	<div class="row">
		<div class="col-lg-12"><h2>{% trans "Contact" %} {% if in_carenet %}(Shared){% endif %}</h2></div>
	</div>
	<div class="row" style="height:20px;"></div>
	<div class="row">
		<div class="col-lg-12">
                         <div class="form-group">
                                <label>{% trans "Email:" %}</label>
				<input type="text" value="Administrator" class="form-control" readonly>
				<input type="hidden" name="email" value="testadministrator@email.com" class="form-control" readonly>
                                <input type="hidden" id="senderemail" name="senderemail" value="" class="form-control" readonly>
                        </div>


			<div class="form-group">
				<label>{% trans "Subject:" %}</label>
				<input type="text" name="subject" class="form-control" style="width:100%;"/>
			</div>
			<div class="form-group">
				<label>{% trans "Message:" %}</label>
				<textarea style=" height: 250px;" name="message" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value=" {%trans "  Send   " %}" style="width:150px;"  class="btn btn-lg btn-primary"/>
			</div>
		</div>
	</div>
</div>
</form>    
</div>
{% endblock %}
