{% extends 'problems/templates/base.html' %}
{% block title %}new problem{% endblock %}
{% block content %}

<script>
  $(document).ready(function() {
    $('.date').datepicker({'dateFormat':'yy-mm-dd'});

    $('#problem_fullname').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#problem_code').val(data.code);
      }
    })
    
    $('#comments').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#comments_code').val(data.code);
      }
    })


  });


function validateForm()
{
var problem_fullname=document.forms["myForm"]["problem_fullname"].value;

if (problem_fullname==null || problem_fullname=="")
  {
  alert("Procedure must be filled");
  return false;
  }

}

</script>

<h2>New Procedure &nbsp;&nbsp;<span style="font-size:0.7em; font-weight: normal; text-transform: uppercase">
<!--[<a href="./">Cancel</a>]-->
</span></h2>

<head>
    {% if jsonData != " " %}
         {% if jsonData.5.z_score < -2 or jsonData.5.z_score > 2 %} <!--physical abilities (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
	{% endif %}
     {% endif %}
</head>

<div class="class1">



  <form name="myForm" onsubmit="return validateForm()" method="post" action="">
    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>
        <td>Procedure</td>
        <td>
          <input type="text" name="code_fullname" id="problem_fullname" style="width: 100%" />
          <input type="hidden" name="code" value="None" id="problem_code" /> 
        </td>
      </tr>

      <tr>
        <td>Date Performed</td>
        <td><input type="text" name="date_performed" class="date" style="width: 100%" /></td>
      </tr>

      <tr>
        <td>Doctor Name</td>
        <td><input type="text" name="provider_name" style="width: 100%" /></td>
      </tr>
	<tr>
        <td>Institution</td>
        <td><input type="text" name="provider_institution" style="width: 100%" /></td>
      </tr>
	<tr>
        <td>Location</td>
        <td><input type="text" name="location" style="width: 100%" /></td>
      </tr>
      <tr>
        <td>Comments</td>
        <td><input type="text" name="comments" id="comments" style="width: 100%" />
          <input type="hidden" name="comments_code" value="None" id="comments_code" /> 
	 </td>
      </tr>



    </table>

    <br />


    
    <div style="text-align: center">
      <input type="submit" value="Add New Procedure" style="width: 33%"/><p>
      <!--<input type="button" style="width: 200px" onclick="history.back();" value="    Cancel    ">-->
    </div> 

  </form>
    <div align="center"><a href="./"><button style="width: 200px">  Cancel   </button></a></div>

</div>

{% endblock %}
