




	<!-- Authorization Form -->

<script>
    function submit()
    {

        button.click();
    }
</script>
<html>
<body onload="submit()">
<div id="divCheckbox" style="display: none;">

	<form method="post" action="/oauth/authorize">
		<input type="hidden" name="oauth_token" value="{{REQUEST_TOKEN}}" />
		<input type="hidden" name="oauth_callback" value="{{CALLBACK_URL}}" />
		<input type="hidden" name="record_id" value="{{RECORD_ID}}" />
		
		<div class="login_message">
			{{TITLE}}
		</div>
		
		<div class="main_action_button">
			<button type="submit"  id="button" name="button"></button>
			<p class="moreinfo">
				<a href="/login" onclick="history.back(); return false;"></a>
				<b>|</b>
				<a href="/logout"></a>
			</p>
		</div>
	</form>
</div>
</body>
</html>

