{% load i18n %}
<center>
<div class="row" style="background-color:transparent;">
 <div class="col-xs-12">
  <a href="http://imanagecancer.eu/" target="_blank">
<!--  <p><img style="width:300px;" src="/jmvc/ui/resources/images/imc_logo_footer.png"/></p>
  <p><span>{% trans "H2020 Research Project + Patient Empowerment + Self Management for Cancer deseases" %}</span></p> maria -->
  </a>
</div>
</div>
</center>

<!--center>
	<a href="http://chip.org/laboratories/ihl/">
		<img style="opacity: .85; width:2.2%; height:2.2%" src='/jmvc/ui/resources/images/badges/ihl-badge.png'/>
		<span>{% trans "Intelligent Health Lab" %}</span>
	</a>
	<b>|</b>
	<a href="http://chip.org">
		<img style="opacity: .85; width:2.2%; height:2.2%" src='/jmvc/ui/resources/images/badges/chip-badge.png'/>
		<span>{% trans "Children&rsquo;s Hospital Informatics Program" %}</span>
	</a>
	<b>|</b>
	<a href="http://hms.harvard.edu">
		<img style="opacity: .85; width:2.2%; height:2.2%" src='/jmvc/ui/resources/images/badges/hms-alt.png'/>
		<span>{% trans "Harvard Medical School" %}</span> 
	</a>
	<b>|</b>
	<a href="http://www.ics.forth.gr/">
		<img style="opacity: .85; width:4.5%; height:4%" src='/jmvc/ui/resources/images/badges/forth.png'/>
		<span>{% trans "FORTH Institute of computer science" %} </span>
	</a>

	<div id="copyright">
		&copy; 2012
	</div-->


