
{% load i18n %}
<center>
	<!--a href="http://chip.org/laboratories/ihl/">
		<img style="opacity: .85; width:50px;" src='/jmvc/ui/resources/images/badges/ihl-badge.png'/>
		<span>{% trans "Intelligent Health Lab" %}</span>
	</a>
	<b>|</b>
	<a href="http://chip.org">
		<img style="opacity: .85; width:50px;" src='/jmvc/ui/resources/images/badges/chip-badge.png'/>
		<span>{% trans "Children&rsquo;s Hospital Informatics Program" %}</span>
	</a>
	<b>|</b>
	<a href="http://hms.harvard.edu">
		<img style="opacity: .85; width:50px;" src='/jmvc/ui/resources/images/badges/hms-alt.png'/>
		<span>{% trans "Harvard Medical School" %}</span>
	</a>
	<b>|</b>
	<a href="http://www.ics.forth.gr/">
		<img style="opacity: .85; width:50px;" src='/jmvc/ui/resources/images/badges/forth.png'/>
		<span>{% trans "FORTH Institute of computer science" %} </span>
	</a>

	<div id="copyright">
		&copy; 2012

	</div-->
	
	<div class="row" style="height:40px;"></div> 	
<div class="row" style="background-color:#fafafa;">	

 <div class="col-xs-12">
  <a href="http://imanagecancer.eu/" target="_blank">
<!--  <p><img style="width:300px;" src="/jmvc/ui/resources/images/imc_logo_footer.png"/></p>
  <p><span>{% trans "H2020 Research Project + Patient Empowerment + Self Management for Cancer deseases" %}</span></p> maria-->
  </a>
</div>


<!--div class="col-xs-3">
                  <a href="http://chip.org/laboratories/ihl/">
                  <img style="width:45px;margin-left:10px;" src="/jmvc/ui/resources/images/badges/ihl-badge.png"/>
                  <span>{% trans "Intelligent Health Lab" %}</span>
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="http://chip.org/">
                  <img style="width:45px;" src="/jmvc/ui/resources/images/badges/chip-badge.png"/>
                  <span>{% trans "Children&rsquo;s Hospital Informatics Program" %}</span>
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="http://hms.harvard.edu/">
                  <img style="width:45px;" src="/jmvc/ui/resources/images/badges/hms-alt.png"/>
                  <span>{% trans "Harvard Medical School" %}</span>
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="http://www.ics.forth.gr/">
                  <img style="width:45px;margin-top:8px;" src="/jmvc/ui/resources/images/badges/forth.png"/>
                  <span>{% trans "FORTH Institute of computer science" %} </span>
                  </a>
               </div-->
               </div>
               <div class="row" style="height:30px;"></div> 
               
 <div class="row" style="background-color:#fafafa;">

<div class="col-lg-12" style="padding-top:20px;"> 
 
<font size="2">Information provided into the site is designed to support, 
not replace, the relationship that exists between a patient/user and 
his/her existing physician.</font>
</div>
<div class="col-lg-12" style="padding-top:20px;">
 <div style="text-align: center;">
 
<font size="3">Webmaster email: hatzimin@ics.forth.gr</font>
</div>
</div>
<div class="col-lg-12" style="padding-top:20px;">
<a href="/apps/procedures/static/Tutorial.pdf" target="_blank">Tutorial - PDF format</a><br><br>
						    <!--  <a href="/apps/procedures/static/disclaimer.pdf" target="_blank">Disclaimer - PDF format</a><br><br>-->

<a href="/terms" target="_blank">Disclaimer - PDF format</a>
</div>

		
		
	</div> 
	
	
</center>

