{% extends "ui/base_login.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Login" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#username').focus();
			$('#login_form').submit(function() {
				$('#username').removeClass('error');
				$('#password').removeClass('error');
				if (!$('#username').val()) {
					$('#username').addClass('error').focus();
					return false;
				}
				if (!$('#password').val()){
					$('#password').addClass('error').focus();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block welcome_prefix %}{% trans "Welcome to" %}{% endblock %}

{% block main %}
	<!-- Login Form -->
	
	
<form id="login_form" class="table_form" method="post" action="/login" style="padding:0px;margin:0px;">
		<input type="hidden" name="return_url" value="{{RETURN_URL}}" />
		
			<div class="row" style="width:100%;height:30px;"></div>
				<div class="row" style="width:100%;border:0px solid red;" align="center">
				
				<!--div class="col-lg-12" style="width:100%;border:0px solid blue;"-->
				<div class="form-group">
				<label style="display:none;">{% trans "Username:" %}</label>
				<input type="text" id="username" placeholder="{% trans "Username" %}" name="username" tabindex="1" style="width:300px;" class="form-control" />
			</div>
			<div class="form-group">
				<label style="display:none;">{% trans "Password:" %}</label>
				<input type="password" placeholder="{% trans "Password" %}" id="password" name="password" tabindex="2" style="width:300px;" class="form-control" />
			</div>
			<div class="form-group">
				<a class="login_action_link" href="/forgot_password">{% trans "Forgot your password?" %}</a>
			</div>
			<div class="form-group">
				<button id="submit" type="submit" name="submit" style="width:200px;" class="btn btn-primary btn-lg" tabindex="3">{% trans "Login" %}</button>
					{% if SETTINGS.REGISTRATION.enable %}
					<p class="moreinfo">
						 <a href="/terms">{% trans "No account? Register here" %}</a>
				<!--	<a href="/register">{% trans "No account? Register here" %}</a>-->
					<p>
					{% endif %}
			</div>
			<!--/div-->
				</div>
		</form>
{% endblock %}

