{% extends "ui/base.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Disclaimer" %}{% endblock %}

{% block main %}
<head>
<script>
function checkCheckBox(f) {
  if (f.agree.checked == false) {
    alert('Please check the box to continue.');
    return false;
  } else
    return true;
}

</script>

</head>
<iframe src="/apps/procedures/static/disclaimer.pdf" style="width: 100%;" height="700px;" width="100%"></iframe>

<br><br>
<form action="/register"  onsubmit="return checkCheckBox(this)">
<center><font size="3"> I accept the terms of use:   <input type="checkbox" value="0" name="agree">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Accept">
&nbsp;&nbsp;
<input type="button" value="Reject" onclick="document.location.href='/login';"> </center></font>
</form>

<br><br><br><br><br><br>
{% endblock %}



