{% extends 'problems/templates/base.html' %}
{% block title %}problem list{% endblock %}
{% block content %}
{% load i18n %}
<head>
    {% if jsonData %}
        {% if jsonData.5.z_score < -1 or jsonData.5.z_score > 2 %} <!--Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
        {%endif%}
     {% endif %}
 
        <meta charset="utf-8">
        <title>Speak.js Demo</title>
        <script src="{{ STATIC_HOME }}/speakClient.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
        <div id="audio"></div>
<div class="class1">

  <h2>{% trans "Deleted Problems List" %} {% if in_carenet %}(Shared){% endif %}</h2>

  {% ifequal num_problems 0 %}
  {% else %}
    <table class="light">
      <thead>
        <tr>
          <th scope="col"><b>{% trans "Name" %}</b></th>
          <th><b>{% trans "Onset" %}</b></th>
          <th><b>{% trans "Resolution" %}</b></th>
	  <th><b>{% trans "Modify/Delete" %}</b></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" style="text-align: right">{{num_problems}} problem{% ifequal num_problems 1 %}{% else %}s{% endifequal %}</td>
        </tr>
      </tfoot>
      <tbody>
        {% for p in problems %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{{p.id}}">{{p.name_title}}</a></td>
            <td>{{p.startDate}}</td>
            <td>{{p.endDate}}</td>
            <td><a href="restore/{{p.id}}"><button>{% trans "restore" %}</button></a>

	    </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endifequal %}

  {% if not in_carenet %}
       <p align="center"><a href="./"><button style="width: 200px"> {% trans "Back" %} </button></a><p>

   
  {% endif %}
</body>
{% endblock %}
