{% extends 'problems/templates/base.html' %}
{% block title %}problem list{% endblock %}
{% block content %}
{% load i18n %}
<script>

    
$(document).ready(function() {
    $('.date').datepicker({'dateFormat':'yy-mm-dd'});
    $('#problem_fullname').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#problem_code').val(data.code);
      }
    })
  });
 
function validateForm()
{
var problem_fullname=document.forms["myForm"]["problem_fullname"].value;
var date_onset=document.forms["myForm"]["date_onset"].value;
var date_resolution=document.forms["myForm"]["date_resolution"].value;

if (problem_fullname==null || problem_fullname=="")
  {
  alert({% trans "'Problem must be filled'" %});
  return false;
  }

if (date_onset==null || date_onset=="")
  {
  alert({% trans "'Start date must be filled'" %});
  return false;
}

if (date_resolution==null || date_resolution=="")
  {
  alert({% trans "'Resolution date must be filled'" %});
  return false;
}





//if (date_resolution==null || date_resolution=="")
//  {
//  alert("Allergen must be filled");
//  return false;
//}

}



</script>
<head>

{% if jsonData %}
        {% if jsonData.5.z_score < -1 or jsonData.5.z_score > 2 %} <!--Rumination (abnormal it should be over 2 or less -2 )-->
        <style type="text/css">
            *
            {
                font-size : 12px
            }

            .class1 *
            {
                font-size : 20px;
            }
        </style>
        {%endif%}
     {% endif %}

        <meta charset="utf-8">
        <title>Speak.js Demo</title>
        <script src="{{ STATIC_HOME }}/speakClient.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
        <div id="audio"></div>
<div class="class1">

{% if record_id %}
<script>
  Indivo.Auth.setToken("{{surl_credentials.token}}","{{surl_credentials.secret}}");
</script>
{% endif %}

<h2>{{problem.name_title}} &nbsp;&nbsp;<span style="font-size:0.7em;">
<h4>(SNOMEDCT:{{problem.name_identifier}})</h4>
<!--<td><p align="right"><a href="./"><button>BACK</back></a></span></h2></p></td>-->
<td></td> 


 <form name="myForm" onsubmit="return validateForm()"  method="post" action="">

    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>
        <td>{% trans "Problem" %}</td>
        <td>
          <input type="text" name="code_fullname" id="problem_fullname"  value="{{problem.name_title}}" style="width: 100%" />
          <input type="hidden" name="code" id="code"value="{{problem.name_identifier}}" id="problem_code" /> (SNOMED CT)
        </td>
      </tr>

      <tr>
        <td>{% trans "Onset" %}</td>
        <td><input type="text" name="date_onset" id="date_onset" class="date" style="width: 100%" value="{{problem.startDate}}" /></td>
      </tr>
      <tr>
        <td>{% trans "Resolution" %}</td>
        <td><input type="text" name="date_resolution" id="date_resolution"  class="date" style="width: 100%" value="{{problem.endDate}}" /></td>
      </tr>
      <tr><td>{% trans "Category" %}</td>
      <td> <select name="category" id="category" value="{{problem.category}}">
                <option value="Primary disease">{% trans "Primary disease" %}</option>
                <option value="Co-morbidities">{% trans "Co-morbidities" %}</option>
          </select>
      </td>
      </tr>

	<tr>
        <td>{% trans "Details" %}</td>
        <td><input type="text" name="comments" id ="comments" style="width: 100%" value="{{problem.notes}}"/></td>
      </tr>
 

    </table>

    <br />

    <div style="text-align: center">
      <input type="submit" value="{% trans "Update Problem" %}" style="width: 33%"/><p>
     <!-- <input type="button" style="width: 200px" onclick="history.go(-1);" value="    Cancel    ">-->
   
  


</div>
</form>

 <div align="center"><a href="./../"><button style="width: 200px">{% trans "   Cancel" %}  </button></a></div>


<h3>{% trans "Additional Information" %}</h3>
<div class="details">{% trans "Created at" %} {{meta.created_at}}</div>
{% endblock %}

